# Bytes
__pycache__/
*.py[cod]
*$py.class

# packaging
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
_version.py

# Jupyter Notebook
.ipynb_checkpoints

# logs/testing
*.out
*.log
*.csv
logs
.coverage
htmlcov

# VS Code
.vscode/

# OSX
.DS_STORE

# other
ignore
commands.sh
